<p id="notice"><%= notice %></p>

<p>
  <h2><%=t('tasks.show.name')%></h2>
  <%= @task.name %>
</p>

<p>
  <strong><%=t('tasks.show.content')%></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%=t('tasks.show.created_at')%>:</strong>
  <%= l @task.created_at %>
</p>

<%= link_to t("tasks.show.Show"), edit_task_path(@task) %> |
<%= link_to t("tasks.show.Back"), tasks_path %>
