<p id="notice"><%= notice %></p>

<p>
  <h2>タスク名</h2>
  <%= @task.name %>
</p>

<p>
  <strong><%=t('tasks.show.content')%></strong>
  <%= @task.content %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= l @task.created_at %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
