<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>登録日時:</strong>
  <%= l @task.created_at %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to '戻る', tasks_path %>
