<p id="notice"><%= notice %></p>

<p>
  <h2>タスク名</h2>
  <%= @task.name %>
</p>

<p>
  <strong><%=t('tasks.show.content')%></strong>
  <%= @task.content %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
